body{
	margin: 0;
	padding: 0;
	font-family: "PT Sans", arial, sans-serif;
	color: $base-font-color;
	background-color: #f2f2f2;
	font-size: $base-font-size;
	min-width: 320px;

}

div{
	@include debug(); /*задает рамку для блоков, для отладки */
}

h1, h2, h3, h4, h5, h6, b, p, a, input, textarea{
	font-family: "PT Sans", arial, sans-serif;
}

h1{
	font-size: 18px;
	line-height: 11px;
}

h2{
	font-size: 18px;
}

a{
	color: $base-font-color;
	&:hover,
	&:active{
		text-decoration: none;
	}
}

p{
	line-height: 180%;
	font-size: 14px;
}

img{
	border: none;
	max-width: 100%;
	height: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, 
input::-moz-placeholder,
textarea::-moz-placeholder, 
input:-moz-placeholder,
textarea:-moz-placeholder, 
input::-ms-input-placeholder,
textarea::-ms-input-placeholder, 

{
    color: black;
}