@mixin debug() {
   /*border: 1px solid darkred;  */

}

@mixin capslock() {
    text-transform: uppercase;
}


@mixin feature-style() {
    width: 100%;
    @include capslock();
    text-align: center;
}

@mixin btn-style() {
    padding: 17px 0;
    font-weight: bold;
    font-size: 21px;
    &:hover {
		background-color: #669ec0; 
	}

	&:active{
		background-color: #5496bd;
    }
}

 @mixin container() {
    width: 320px;
    margin: 0 auto;
    @media #{$tablet-widths} {
        width: 640px;
    }
    @media #{$desktop-widths} {
        width: 1200px;
    }
} 

@mixin no-outline() {
    outline: none;
}

@mixin bold18px() {
    font-size: 18px;
    font-weight: bold;
}

@mixin bold21px() {
    font-size: 21px;
    font-weight: bold;
}


@mixin bold30px() {
    font-size: 30px;
    font-weight: bold;
}