@mixin debug() {
    border: 1px solid darkred; /* для обводки крупных блоков согласно заданию */

}

@mixin capslock(){
    text-transform: uppercase;
}


@mixin feature-style(){
    width: 100%;
    line-height: 100%;
    @include capslock();
    text-align: center;
}

@mixin btn-style(){
    padding: 15px 0;
    font-weight: bold;
    font-size: 21px;
    &:hover, &focus{
		background-color: #669ec0; 
	}

	&:active{
		background-color: #5496bd;
    }
}