
$main-bg-color: #ffffff;
$light-blue: #81b3d2;
$black: #000000;
$grey: #d6d6d6;
$dark-grey: #a8a8a8;
$light-grey: #eeeeee;
$white: #ffffff;
$font-main: "PT Sans", arial, sans-serif;
$base-font-color: #333333;
$base-font-size: 14px;


