.advantages {
	@include capslock();
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0 20px;
  max-width: 100%;
}

.advantages__item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
	margin-top: 20px;
  max-width: 100%;
}

.advantages__item:last-of-type {
	/*margin-bottom: 20px; */
  border-bottom: none;
}

.advantages__icon {
  width: 40px;
  height: 35px;
  margin-top: 4px;
}

.advantages__title {
	color: $title-font-color;
	font-size: 21px;
	font-weight: bold;
	margin: 13px 0 0 10px;
}

.advantages__text {
	 margin: 17px 0 0 50px;
   max-width: 100%;
}

.advantages--gray-bg {
	background-color: $light-grey;
}

.advantages__item--gray-bg {
	border-bottom: 1px solid $grey;
}

.advantages__item--gray-bg {
  margin: 0;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}

.advantages__item--gray-bg .advantages__title {
  margin-top: 28px;
  margin-left: 0;
}

.advantages__item--gray-bg .features__number {
  margin-top: 10px;
  margin-left: 0;
}

.advantages__item--gray-bg .advantages__text {
  margin-top: 20px;
  margin-left: 0;
}


@media #{$tablet-widths} {
  .advantages {
    display: flex;
    flex-direction: row;
    padding: 0;
    max-width: 100%;
  }
  .advantages__item {
    width: 33.33%;
    display: flex;
    padding: 0 47px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    box-sizing: border-box;
    margin-top: 55px;
    margin-bottom: 42px;
    max-width: 100%;
  }
  .advantages__item--gift {
    order: 2;
  }
  .advantages__icon {
    width: 75px;
    height: 75px;
    margin-top: 3px;
  }
  .advantages__title {
    margin-top: 27px;
    margin-left: 0;   
  }
  .advantages__text {
    margin-left: 0; 
    margin-top: 22px;
    line-height: 20px;
  }
  .advantages__item--gray-bg {
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0 50px 20px;
	  box-sizing: border-box;
  }
  .advantages__item--gray-bg .advantages__text {
    margin-top: 21px;
  }
 
}


@media #{$desktop-widths} {
  .advantages__item {
   margin: 50px 0;
  }
  .advantages__item--gray-bg {
    padding: 0 65px 20px;
	  
  }
  .advantages__item--gray-bg .advantages__title {
    padding: 0 150px;
    margin-top: -5px;
  }

  .advantages {
    margin-bottom: 15px;
  }

}