
.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	text-align: center;
	@include capslock();
	padding-bottom: 0;
	min-height: 200px; 
}


.advantages--gray-bg {
	background-color: $light-grey;
}

.advantages__item {
	border-bottom: 1px solid $grey;
}

.advantages__item--with-icon {
	border-bottom: none;
}
.advantages__title {
	text-align: center;
	height: 50px;
	margin: 8px 0;
	line-height: 26px;
}

.advantages__item--with-icon .advantages__title {
	padding-left: 70px;
	background-size: 10%;
	background-repeat: no-repeat;
	background-position-x: 20px;
	text-align: left;
}


.advantages__title--living {
	background-image: url('../img/icon-house.svg');
	background-position-y: 4px; 
	background-position: left;
}

.advantages__title--souvenirs { 
	background-image: url('../img/icon-gift.svg'); 
	background-position-y: 0; 
}

.advantages__title--food {
	background-image: url('../img/icon-burger.svg'); 
	background-position-y: 5px; 
}

.advantages__item--with-icon .advantages__text {
	padding-left: 70px;
	text-align: left;
}

.advantages__text {
	text-align: center;
	margin-top: 0;
}


@media #{$tablet-widths} {

	.advantages {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		width: 100%;

	}

	.advantages__item {
		align-self: center;
		border: none;
		
	}
	.advantages__item--gray-bg {
		padding: 0 50px;
	}
	.advantages--gray-bg .advantages__title {
		padding: 22px 69px;
	}
	.advantages--gray-bg .features__number {
		padding: 0;
	}
	.advantages--gray-bg .advantages__text {
		padding: 22px 50px;
	}

}

@media #{$desktop-widths} {
	.advantages__items {
		height: 332px;
	}

	.advantages__item {
		width: 400px;
	}

}


