body{
	margin: 0;
	padding: 0;
	font-family: $font-main;
	color: $base-font-color;
	background-color: $main-bg-color;

}

h1, h2, h3, h4, h5, h6, b, p, a{
	font-family: $font-main;
}

h1{
	font-size: 18px;
	line-height: 11px;
}

h2{
	font-size: 18px;
}

a{
	color: $base-font-color;
	&:link,
	&:hover,
	&:focus,
	&:active{
		text-decoration: none;
	}
}

p{
	line-height: 11px;
}

img{
	bordero: none;
}
