.booking {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
    text-align: center;
    @include capslock();
    padding-top: 26px;
    padding-bottom: 0;
    margin: 0 20px;
    @media #{$tablet-widths} {
        padding-top: 37px;
    }
    
}

.booking__text {
    padding-top: 6px;
    display: block;
    line-height: 24px;
}

.booking__title {
    font-family: $font-main;
    color: $title-font-color;
    font-size: 21px;
    font-weight: bold;
}

.booking__search {
    margin: 21px 0;
    @include btn-style();
}

@media #{$tablet-widths} {
    .booking__text .br {
        display: inline;
    }
    .booking {
        margin: 0 155px;
        padding-top: 51px;
        padding-bottom: 29px;
    }
    .booking__text {
        padding: 24px 10px 43px;
        margin: 0;
    }
    
    .booking__search {
        width: 100%;
        margin: auto;

    }
     .booking__title {
        @include bold30px();
    }
}


@media #{$desktop-widths} {
    .booking {
        margin: 0 370px;
        padding-bottom: 65px;
        padding-top: 37px;
    }
    .booking__title {
        font-size: 30px;
    }

    .booking__text {
        padding: 30px 0 45px 0;
        margin: 0;
    }
    .booking__search {
        width: 100%;
        margin: auto;
    }

}