.booking {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
    text-align: center;
    padding: 20px;
    @include capslock();
    
}

.booking__title {
    font-family: $font-main;
    font-size: 21px;
    font-weight: bold;
}

.booking__search {
    @include btn-style();
}


@media #{$tablet-widths} {
    .booking {
        margin: auto;
        
        padding-top: 57px;
        padding-bottom: 57px;
    }
    .booking__search {
        width: 50%;
        margin: auto;
    }
}


@media #{$desktop-widths} {
    .booking__title {
        font-size: 30px;
    }

    .booking__text {
        margin: 0 290px;
        padding: 39px 0;
    }

}