.btn {
	display: block;
	background-color: $light-blue;
	@include capslock();
	text-align: center;
	border-style: none;
	color: $white;
	font-size: 21px;
	font-weight: bold;
	font-family: $font-main;
	vertical-align: middle;
	text-decoration: none;
	outline: none;
}


.social__btn {
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 48px;
	background-color: $light-blue;
	margin-right: 6px;
	@media #{$mobile-only} {
		line-height: 48px;
	}
	@media #{$tablet-widths} {
		display: flex;
		justify-content: center; 
		align-items: center; 
	}
	&:hover {
		background-color: #669ec0; 
	}

	&:active{
		background-color: #5496bd;
    }

	&:disabled {
		background-color:#e5e5e5;
	}
}


.icon {
	display: inline-block;
	vertical-align: middle;
	fill: white;
}

.icon--like {
	width: 21px;
	height: 21px;
	fill: #b2b2b2;
	@media #{$tablet-widths} {
		fill:#a9a9a9;
	}
	@media #{$desktop-widths} {
		fill:#ffffff;
	}
}
.icon--facebook {
	height: 18px;
	width: 19px;

}


.icon--twitter {
	width: 17px;
	height: 15px;
}


.icon--youtube {
	width: 20px;
	height: 14px;
}

.icon--replay {
	width: 16px;
	height: 20px;
	fill:#5c6870;
	&:hover {
		fill: #666666;
	}
	&:active {
		fill: #c1c1c1;
	}
	@media #{$tablet-widths} {
		fill:#ffffff;
		
	}
}
.icon--subtitles {
	width: 32px;
	height: 20px;
	fill:#5c6870;
	&:hover {
		fill: #333333;
	}
	&:active {
		fill: #c1c1c1;
	}
	@media #{$tablet-widths} {
		fill:#ffffff;
	}
}

.icon--fullscreen {
	width: 20px;
	height: 20px;
	fill: #5c6870;

	&:hover {
		fill: #333333;
	}
	&:active {
		fill: #c1c1c1;
	}

	@media #{$tablet-widths} {
	fill:#ffffff;
	}

} 


@media #{$tablet-widths} {
	.icon--replay {
		&:hover {
		fill: #ffffff;
	}
	&:active {
		fill: #ffffff;
	}

	}
}
