@media (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 auto;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0 auto;
        margin: 0 auto;
    }
}
