.copyright{
    display: block;
    text-align: center;
    margin: 20px;
}

.copyright__link{
    margin: 20px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    
}