.features {
    @include feature-style();
    background-color: $light-blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 22px;
}

.br { display: none;}

.features__item {
    /*width: 66.6667%; */
    padding: 25px 0;
    color: $white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-sizing: border-box;

}

.features__item--first {
    padding: 40px 23px 24px;
}

.features__title {
    @include bold18px();
    margin: 17px 0 0;
    @media #{$tablet-widths} {
        @include bold21px(); 
}
}

.features__number {
    margin-top: 12px;
}
.features__pic img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $light-blue;
}

@media (min-width: 320px) {
    .features {
        flex-wrap: wrap;
    }
}

@media #{$tablet-widths} {
    .features__item .br {
        display: inline;
    }

    .features__text .br {
        display: none;
    }
    .features__item--first .br {
        display: none;
    }
    
    .features:nth-of-type(3) .features__pic {
        order: -1;
    }

    .features__item {
        width: 33.3334%;
        padding: 0 45px;
    }

    .features__pic {
        width: 66.6667%;
        overflow: hidden;
        height: 256px;
    }

    .features__pic img {
        width: 100%;
        height: 100%;
    }

    .features {
        flex-wrap: nowrap;
    }

    .features__title {
        margin: 45px 0 9px;
        line-height: 1.2;
    }

    .features__number {
        margin-top: 0;
    }
    .features__item .features__text  {
        margin-top: 20px;
    }
    .features__item--first .features__text {
        line-height: 20px;
        margin-top: 25px;
    }
}

@media #{$desktop-widths} {
    .features__pic {
        position: relative;
    }
    .features__pic img {
        height: auto;
        position: absolute; 
        content: ''; 
        left: 0; 
        top: -72px;
    }
    .features__text {
        padding: 0;
        margin-top: 23px;
    }

    .features__title {
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    .features__item {
        padding: 34px 85px;
        line-height: 1.2;
    }
    .features__item--first {
        padding: 34px 60px;
    }
    .features__number {
        margin-top: 0;
    }
}