.intro{
    text-align: center;
    @include capslock();
    padding: 20px 0;

}


.intro__title{
    font-size: 18px;
    color: $base-font-color;
    line-height: 130%;
    text-align: center;   
}



@media #{$tablet-widths}{
    .intro__title {
        margin-left: 164px;
        margin-right: 164px;
    }
}