.intro{
    text-align: center;
    @include capslock();
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro__text {
    align-self: center;
}


.intro__title{
    font-size: 21px;
    font-weight: bold;
    color: $title-font-color;
    line-height: 130%;
    align-self: center;
}



@media #{$tablet-widths}{
    .intro {
        margin-left: 141px;
        margin-right: 141px;
    }
}

@media #{$desktop-widths} {
    .intro {
        padding-top: 60px;
        padding-bottom: 45px;
        margin-left: 300px;
        margin-right: 300px;
    }
}