
.main-nav__items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.main-nav__link {
    font-weight: bold;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    padding: 15px 0;
}



.main-nav__item:last-child .main-nav__link {
     border-bottom: none;
}

.main-nav__item:first-child .main-nav__link {
     border-top: none;
}

.main-nav__toggle {
    position: absolute;
    top: 15px;
    right: 20px;
} 

@media #{$tablet-widths} {
    .main-nav {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .main-nav__items {
        flex-direction: row;
        justify-content: space-around;
        /* как их растянуть нормально на всю шиирну родительского блока? */
    }
    .main-nav__item {
        background-color: $white;
    }

}


@media #{$desktop-widths} {
    .main-nav {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .main-nav__items {
        display: flex;
        flex-direction: row;
    }
    .main-nav__item {
        background-color: $white;
    }
}