
.main-nav__toggle {
    position: absolute;
    top: 15px;
    right: 20px;
} 
 
.main-nav {
    background-color: $light-blue;
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__item {
  text-align: center;
  line-height: 55px;
  border-bottom: 1px solid grey; /*?*/
}


.main-nav__link {
  @include capslock();
  font-size: $base-font-size;
  font-weight: bold;
  font-family: $font-main;
  text-decoration: none;
  color: $white;
}


@media #{$tablet-widths} {
  .main-nav {
    background-color: $white;
  }
  .main-nav__item {
    background-color: $white;
    border-bottom: none;
    width: 20%;
    line-height: 55px;
  }
  .main-nav__item:nth-child(2) {
    margin-right: 60px;
    
  }
  .main-nav__items {
    flex-direction: row;
    justify-content: space-around;
  }
  .main-nav__link {
    color: #000000;
    font-size: $base-font-size;
  }
  .main-nav__toggle {
    display: none; 
  }
}


@media #{$desktop-widths} {
  .main-nav__item {
    line-height: 53px;
  }
}

