
.map {
  width: 100%;
  margin-top: 30px; 
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: cover;
  min-height: 350px;
  position: relative;
}

.map::after {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: $light-blue;
  top: 161px;
  left: 146px;
  @media #{$tablet-widths} {
    top:164px;
    left:370px;
  }
  @media #{$desktop-widths} {
    top:162px;
    left:586px;
  }

}

@media #{$retina} {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }        
}

@media #{$tablet-widths} {
  .map {
   
    min-height: 350px;
    background-image: url('../img/bg-map-tablet@1x.jpg');
  }
  @media #{$retina} {
  .map {
    background-image: url('../img/bg-map-tablet@2x.jpg');
  }        
}
}


@media #{$desktop-widths} {
  .map {
    margin-top: 0;
    background-image: url('../img/bg-map-desktop@1x.jpg');
  }

    @media #{$retina} {
    .map {
        background-image: url('../img/bg-map-desktop@2x.jpg');
    }     
}
}

