.page-footer__social{
	display: block;
	width: 100%;
	text-align: center;
}

.social__btn{
	display: inline-block;
	width: 46px;
	height: 46px;
	background-color: $light-blue;
	margin-top: 20px;
	margin-bottom: 20px;
	color: $white;
	&:hover, &focus{
		background-color: #669ec0;
	}

	&:active{
		background-color: #5496bd;
	}
}

.social__btn--tw{
	background-image:url('../img/icon-twitter.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social__btn--fb{
	background-image:url('../img/icon-facebook.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social__btn--yt{
	background-image:url('../img/icon-youtube.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.page-footer__hashtag{
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  margin: auto;
  @include capslock();
  margin: 20px;

}