.page-header {
    text-align: center;
    @include container();
    @media #{$tablet-widths} {
        width: 100%;
        min-height: 56px;
    }
}

.page_header__top-row {
    min-height: 56px;
    @media #{$tablet-widths} {
        min-height: 0;
    }
}

.page_header--icon { 
    float: right;
    display: block;
    padding: 20px;
}

.logo {
    position: absolute; 
    top:223x;
    left:50%; 
    transform: translateX(-50%);
    z-index: 100;
    }

@media #{$tablet-widths} {
    .logo {
    position: absolute; 
    top:0;
    left:50%; 
    transform: translateX(-50%);
    }
}

@media #{$desktop-widths} {
    .logo img {
        width: 188px;
        height: 96px;
    }

}