.page-footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.page-footer__social {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-left: 5px;
}

.page-footer__hashtag {
	width: 100%;
	text-align: center;
	display: block;
	@include capslock();
	font-size: 21px;
	text-decoration: none;
  	font-weight: bold;
	margin: 34px 0 39px;
	@media #{$tablet-widths} {	
		width: 33.3334%;
		text-align: left;
		margin: 0;
	}
}

@media #{$tablet-widths} {
	.page-footer {
		flex-wrap: nowrap;
		flex-direction: row;
		padding: 33px 60px 20px;
	}
	
	.page-footer__social {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: space-between;
		width: 162px;	
	}
}

@media #{$desktop-widths} {
	.page-footer {
		flex-wrap: nowrap;
		padding: 36px 45px 20px 132px;
	}
	.page-footer__social {
		padding-right: 80px;
	}
	.page-footer--form {
		padding: 42px 45px 35px 132px;
	}
}

