.photos {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: left;
    
}

@media #{$mobile-only} {
    .photos {
        justify-content: center;
    }
}

@media #{$tablet-widths} {
    .photos {
        margin: 0 60px;
        justify-content: flex-start;
    }
}

@media #{$desktop-widths} {
    .photos {
        margin: 0 40px;
    }
}
