.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    text-align: left;
}


@media #{$tablet-widths} {
    .photos {
        margin: 0 60px;
    }
}

@media #{$desktop-widths} {
    .photos {
        margin: 0 40px;
    }
}
