.photo-item{
   border-top: 1px solid $grey;
   padding: 20px 0;
}

.photo-item__pic-link img {
    width: 100%;
}

.photo-item:last-child {
    border-bottom: 1px solid $grey;

}

.photo-item__title {
    @include capslock;
}

.photo-item__author{
    margin: 10px 0;
}

/*

.photo-item__caption {
    padding: 20px 0;
} */

.photo-item__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.photo-item__likes--count{
    margin-left: 10px;
    font-weight: bold;
    
}

@media #{$tablet-widths} {
    .photo-item{
        width: 50%;
        padding: 0;
    }

    .photo-item:first-of-type {
        width: 100%;
    }

    .photo-item__footer {
        background-color: #eaeaea;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
    }

    .photo-item__likes {
        margin-left: auto;
    }

}

@media #{$desktop-widths} {
    .photo-item {
        width: 33.333%;
    }
}