.promo {
    display: block;
    text-align: center;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-color: $light-blue;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    height: 389px;
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        height: 26px;
        width: 100.6%;
        background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
        @media #{$tablet-widths} {
            background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
            width: 769px;
            left: -1px;
            height: 57px;
        }
        @media #{$desktop-widths} {
            background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
            left: 0;
            width: 1201px; 
        }
        /* background-position: center bottom; */
    }
}

.promo--notindex {
    height: 157px; 
    overflow: hidden;

    @media #{$tablet-widths} {
        background-position: 0 91%; 
    }
}

.promo__title {
    margin-top: 90px;
    width: 88%;

    @media #{$tablet-widths} {
        margin-top: 75px;
    }
}

@media #{$retina} {
    .promo {
         background-image: url ("../img/bg-back-mobile@2x.jpg");
    }
}

@media #{$tablet-widths} {
    .promo {
        min-height: 520px;
        background-size: cover;
        @media #{$retina} {
            background-image: url("../img/bg-back-tablet@1x.jpg");
            background-size: cover;
        }
    }
    .promo--notindex {
         min-height: 290px;
    }
    .promo__title--index {
        height: 352px;
    }

 
    
    @media #{$retina} {
        .promo {
            background-image: url("../img/bg-back-tablet@2x.jpg");
        }
    }
}

@media #{$desktop-widths} {
    .promo {
        background-image: url("../img/bg-back-desktop@1x.jpg");
        min-height: 519px;
    }
    .promo--notindex {
        min-height: 303px;
    
    }
    .promo__title {
        margin-top: 77px;
    }
    @media #{$retina} {
        background-image: url("../img/bg-back-desktop@2x.jpg");
    }
}


.promo__title--notindex {
    height: 40px;
    margin-top: 52px;
    @media #{$tablet-widths} {
        width: 60%;
        margin-top: 95px;
        height: auto;
    }
    @media #{$desktop-widths} {
        width: 463px;
        height: 80px;
        margin-top: 104px;
    }
}