.promo{
   
    display: block;
    text-align: center;
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    height: 389px;
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
      height: 57px;
      width: 100%;
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
      background-position: center bottom;
      background-size: 1200px;
    }
}

 

.promo__title{
    width: 80%;
    margin-top: 90px;
    
}

@media #{$retina} {
    .promo {
         background-image: url ("../img/bg-back-mobile@2x.jpg");
    }
}

@media #{$tablet-widths} {
    .promo {
        min-height: 500px;
        background-size: cover;
        @media #{$retina} {
        background-image: url("../img/bg-back-tablet@1x.jpg");
        background-size: cover;
    }
    }
    .promo__title {
        height: 353px;
    }
    
    @media #{$retina} {
        .promo {
            background-image: url("../img/bg-back-tablet@2x.jpg");
        }
    }
}

@media #{$desktop-widths} {
    .promo {
        background-image: url("../img/bg-back-desktop@1x.jpg");
    }
    .promo__title {
        height: 366px;
    }
    @media #{$retina} {
        background-image: url("../img/bg-back-desktop@2x.jpg");
    }
}
/*
.promo::after {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    bottom: 0;
    left:0;
    width: 320px;
    height: 26px;
    background-size: cover;
} */