fieldset {
    border: 0;
}

form {
    border-top: 1px solid $grey;
    display: flex;
    flex-wrap: wrap;
    @media #{$tablet-widths} {
        padding: 60px;
    }
    @media #{$desktop-widths} {
        padding: 60px 120px 0 120px;
    }
}

.review-form {
    @include capslock();
}

.review-form__item--first {
    @media #{$tablet-widths} {
        order: -1;
    }
}

.review-form__item {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid $grey;
    @media #{$tablet-widths} {
        width: 50%;
    }
}

.review-form__item:nth-child(2) {
    @media #{$tablet-widths} {
        width: 100%;

    }
}

.review-form__item:nth-child(4) {
    @media #{$tablet-widths} {
        width: 100%;
        padding: 20px 75px;
    }

    @media #{$desktop-widths} {
        padding: 20px 20px;
    }

}

.review-form__item:nth-child(4) .review-form__group {
    @media #{$tablet-widths} {
        display: flex;
        flex-wrap: wrap;
    }

    @media #{$tablet-widths} {
        flex-wrap: nowrap;
    }
    
}

.review-form__item:nth-child(4) .review-form__field{
    @media #{$tablet-widths} {
        width: 50%;
    }
}

.review-form__item:nth-child(5) {
    @media #{$tablet-widths} {
        width: 100%;
    }

}
.review-form__title {
    margin: 0 0 20px;
    text-align: center;
    @include bold18px();
}

.review-form__field {
    margin: 10px 0 20px;
    display: flex;
}

.review-form__field:last-child {
    margin-bottom: 0;
}


.review-form__input {

    @include bold18px();
    @include no-outline();

    height: $form-input-height;
    line-height: $form-input-height;


    width: 100%;
    min-width: 1px;

    padding: 0 20px;

    margin-left: 14px;
    border: none;
    background-color: $light-grey;

}

.review-form__label {
    line-height: 58px;
}

.review-form__field--vertical {
    flex-wrap: wrap;    
    margin-bottom: 0;
}

.review-form__field--vertical .review-form__label {
    margin-left: 20px;
    height: auto;
    line-height: normal;
    padding: 4px 0 16px;
}
.review-form__field--vertical .review-form__input {
    margin-left: 0;
}

.review-form__field--vertical .survey-form__error {
    padding: 13px 0 13px 20px;
    color: red;
    text-transform: none;
    font-size: 14px;
}

.review-form__field--radio, .review-form__field--check {
    height: 56px;
    margin-bottom: 16px;
}

.review-form__field--radio:last-child, .review-form__field--check:last-child {
    margin-bottom: 12px;
} 

.review-form__input--radio, .review-form__input--check {
    width: 56px; 
    height: 0;
    position: relative;
    @include no-outline();
}

.review-form__input--radio::before {
    display: block;
    content: ' ';
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $light-grey;
}

.review-form__input--radio:checked::after {
    position: absolute;
    top: 17px;
    left: 17px;
    display: block;
    content: ' ';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: black;
}

.review-form__label--radio, .review-form__label--check {
    @include bold18px();
    align-self: center;
    margin-left: 22px;
    text-transform: none;
}

.review-form__input--check::before {
    display: block;
    content: ' ';
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background-color: $light-grey;
}

.review-form__input--check:checked::after {
    position: absolute;
    top: 19px;
    left: 20px;
    display: block;
    content: ' ';
    width: 15px;
    height: 8px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: rotate(-45deg);
}

.review-form__input--textarea {
    width: 100%;
    @include no-outline();
    @include bold18px();
    background-color: $light-grey;
    padding: 20px;
    border: none;
    resize: none;
}

