fieldset {
    border: 0;
}

form {
    border-top: 1px solid $grey;
    display: flex;
    flex-wrap: wrap;
    @media #{$tablet-widths} {
        padding: 0 60px;
        border-top: none;
    }
    @media #{$desktop-widths} {
        padding: 26px 120px 0 120px;
    }
}

.review-form {
    @include capslock();
}

.review-form__item--first {
    @media #{$tablet-widths} {
        order: -1;
    }
    @media #{$desktop-widths} {
        margin-right: 120px;
    }
}

.review-form__item {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $grey;
    @media #{$tablet-widths} {
        width: 50%;
        padding: 20px 0;
    }

    @media #{$desktop-widths} {
        padding: 20px 0;
    }
}

.review-form__label--desktop {
    display: none;
}
.review-form__item:nth-child(2) {
    @media #{$tablet-widths} {
        width: 100%;
    }
}

.review-form__item:nth-child(4) {
    @media #{$tablet-widths} {
        width: 100%;
    }

    @media #{$desktop-widths} {
        padding: 20px 20px;
    }

}

.review-form__item:nth-child(4) .review-form__group {
    @media #{$tablet-widths} {
        display: flex;
        flex-wrap: wrap;
        padding: 0 75px;
    }

    @media #{$desktop-widths} {
        flex-wrap: nowrap;
    }
    
}

.review-form__item:nth-child(4) .review-form__field{
    @media #{$tablet-widths} {
        width: 50%;
    }
}

.review-form__item:nth-child(5) {
    @media #{$tablet-widths} {
        width: 100%;
        border-bottom: none;
    }

}
.review-form__title {
    margin: 0 0 20px;
    text-align: center;
    @include bold18px();
    @media #{$tablet-widths} {
        @include bold21px();
    }
}

.review-form__field {
    margin: 10px 0 20px;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.review-form__field--tel, .review-form__field--email {
    flex-wrap: wrap;
}

.review-form__field:last-child {
    margin-bottom: 0;
}


.review-form__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-form__input {
    position: relative;
    @include bold18px();
    @include no-outline();

    height: $form-input-height;
    line-height: $form-input-height;


    width: 100%;
    min-width: 1px;

    padding: 0 20px;
    box-sizing: border-box;

    margin-left: 14px;
    border: none;
    background-color: #f2f2f2;
    &:hover {
		background-color: #e5e5e5; 
	}

	&:focus{
		background-color: #ffffff;
        outline: 3px solid #e5e5e5;
    }

}

::-webkit-input-placeholder {
    color:    #000;
}
:-moz-placeholder {
    color:    #000;
}
::-moz-placeholder {
    color:    #000;
}
:-ms-input-placeholder {
    color:    #000;
}

label {
    cursor: pointer;
}

/* иконки с телефоном и е-мэйлом в соотв инпутах */
.review-form__input-wrap-icon {
    position: relative;
    width: 100%;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 58px;
        width: 58px;
        background-color: #e6e6e6;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.review-form__input-wrap-icon--phone {
    &::after {
        background-image: url(../img/icon-phone.svg);
    }
}
.review-form__input-wrap-icon--email {
    &::after {
        background-image: url(../img/icon-mail.svg);
    }
}


.review-form__field--tel .review-form__label,
.review-form__field--email .review-form__label {
    margin-left: 20px;
    height: auto;
    line-height: normal;
    padding: 4px 0 16px;
    width: 100%;
}
.review-form__field--tel .review-form__input,
.review-form__field--email .review-form__input  {
    margin-left: 0;
}

.review-form__field--tel .survey-form__error {
    padding: 13px 0 13px 20px;
    color: red;
    text-transform: none;
    font-size: 14px;
}


.review-form__field--radio, .review-form__field--check {
    height: 56px;
    margin-bottom: 16px;
}

.review-form__field--radio:last-child, .review-form__field--check:last-child {
    margin-bottom: 12px;
} 

.review-form__input--radio, .review-form__input--check {
    width: 56px; 
    height: 0;
    display: none;
    position: relative;
    @include no-outline();
}

.review-form__input--radio + .review-form__label--radio::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: ' ';
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $light-grey;
}


.review-form__input--radio:checked + .review-form__label--radio::after {
    position: absolute;
    top: 17px;
    left: 17px;
    display: block;
    content: ' ';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: black;
}

.review-form__label--radio, .review-form__label--check {
    @include bold18px();
    align-self: center;
    margin-left: 78px;
    text-transform: none;
    
}

.review-form__input--check + .review-form__label--check::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: ' ';
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background-color: $light-grey;
}

.review-form__input--check:checked + .review-form__label--check::after {
    position: absolute;
    top: 19px;
    left: 20px;
    display: block;
    content: ' ';
    width: 15px;
    height: 8px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: rotate(-45deg);
}


.review-form__input--check + .review-form__label--check:hover::before,
.review-form__input--radio + .review-form__label--radio:hover::before {
    background-color: #e5e5e5;
} 

.review-form__input--check:active + .review-form__label--check::before,
.review-form__input--radio:active + .review-form__label--radio::before {
    background-color: #d5d5d5;
} 

.review-form__input--textarea {
    width: 100%;
    @include no-outline();
    @include bold18px();
    background-color: $light-grey;
    padding: 20px;
    border: none;
    resize: none;
}

.review-form__footer {
    width: 100%;
    padding: 20px 0;
   	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    @include capslock();
    justify-content: flex-end;


}
.review-form__submit {
    width: 100%;
    @media #{$tablet-widths} {
        width: 50%;
    }
}

.review-form__notes {
    display: none;
    width: 33.3333%;
    @media #{$tablet-widths} {
        display: block;	
        text-align: right;
        width: 50%;
	}

}
.review-form__btn {
    @include btn-style();
    width: 100%;

}



@media #{$tablet-widths} {
    .review-form__title {
        text-align: center;
    }
    .review-form__item:first-child .review-form__title,
    .review-form__item--first .review-form__title {
        text-align: left;
    }
    

	.review-form__footer {
		flex-wrap: nowrap;
        flex-direction: row;
	}

    .review-form__field--tel .survey-form__error {
        width: 40%;
        order: -1;
        margin-left: auto;
        text-align: right;
        padding: 16px 0;
    }

    .review-form__field--tel .review-form__label {
        padding: 16px 0;
        width: 40%;
        order:-2;
    }    
    .review-form__field--email {
        margin-bottom: 56px;
    }

    .review-form__item:nth-child(4) .review-form__title { /*позиционирует заголовок "Посещенные достопримечательности" относительно полосы */
        position: relative;
        top: -37px;
        background: white;
        margin: 0 140px;
    }

    .review-form__item:nth-child(2) .review-form__title { /*позиционирует заголовок "Контактная информация" относительно полосы */
        position: relative;
        top: -37px;
        background: white;
        margin: 0 250px;
    }
      .review-form__field--tel {
        width: 100%;
    }

    .review-form__field--email {
        width: 100%;
    }

   
}

@media #{$desktop-widths} {
    .review-form__title {
        text-align: center;
    }
    .review-form__item:nth-of-type(3) .review-form__title {
        text-align: left;
        margin-left: 78px;
    }
     .review-form__item:nth-child(4) .review-form__title { /*позиционирует заголовок "Посещенные достопримечательности" относительно полосы */
          margin: 0 300px;
     }
    .review-form__field--tel, .review-form__field--email {
        width: 50%;
        justify-content: space-between;
    }
    .review-form__field--tel .review-form__label,
.review-form__field--email .review-form__label {
    margin-left: 0;
}

    .review-form__label--desktop {
        display: block;
    }
    .review-form__label--mobile {
        display: none;
    }
     .review-form__field--tel .survey-form__error {
        width: 100%;
        padding-left: 106px;
        text-align: left;
    }

    .review-form__field--tel .review-form__label {
        order: 0;
        width: auto;
    } 

    .review-form__field--email .review-form__label {
        order: 0;
        padding: 16px 0;
        width: auto;
    } 

    .review-form__input-wrap-icon {
        width: 315px;
    }

    .review-form__field--tel {
        padding-right: 80px;
        box-sizing: border-box;
    }

    .review-form__field--email {
        box-sizing: border-box;
        margin-top: 40px;
    }

}

/* модальные окна, скрытые по-умолчанию */

.review-form__modal {
    display: block;
    width: 320px;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
    @include capslock();
    text-align: center;
    @media #{$tablet-widths} {
        width: 401px;
    }
    & h1 {
        @include bold18px();
        margin-top: 47px;
        @media #{$tablet-widths} {
            @include bold30px();
            margin-top: 62px;
            padding: 0 90px;
            line-height: 39px;
        }
        
    }
    & p {
        margin: 38px 54px 29px 59px;
        text-align: center;
        @media #{$tablet-widths} {
            margin: 34px 60px 40px;
        }
    }

}
.review-form__modal--failure .review-form__btn {
    width: 180px;
    display: block;
    text-align: center;
    margin: 0 auto 24px;
    @media #{$tablet-widths} {
        margin: 0 auto 49px;
        width: 272px;
    }
}


.review-form__modal--failure {
    display: none;
}
.review-form__modal--success {
    display: none;
    & h1 {
        @media #{$tablet-widths} {
            margin-top: 62px;
            margin-bottom: 37px;
        }
    }

    & p {
        @media #{$tablet-widths} {
            margin: 0 103px 39px;
        }
    }
    @media #{$tablet-widths} {
        width: 640px;

    }
}

.review-form__modal-footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    @media #{$tablet-widths} {
        padding: 44px 0;
    }
}

.review-form__modal-footer .review-form__btn {
    display: block;
    text-align: center;
    width: 280px;
    margin: 0 20px;
    height: 58px;
    @media #{$tablet-widths} {
        width: 457px;
        margin: 0 91px;
    }
}

.review-form__item:first-child {
    @media #{$desktop-widths} {
        padding-left: 79px;
        border-left: 1px solid $grey;
    }
}