.video { 
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include capslock();
    padding: 20px; 

}

.video__title{
    font-size: $title-font-size;
    padding-top: 35px;
    padding-bottom: 30px;

}

.video__text {
    font-size: $base-font-size;
}

@media #{$tablet-widths} {
    .video {
        margin: auto;
        padding-top: 57px;
        padding-bottom: 57px;
}
}