

.video {
    text-align: center;
    @include capslock();
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.video__text {
    max-width: 440px;
    align-self: center;
}


.video__title{
    font-size: 18px;
    color: $base-font-color;
    line-height: 130%;
    max-width: 448px;
    align-self: center;
}



@media #{$tablet-widths}{
    .video__title {
        margin-left: 164px;
        margin-right: 164px;
    }
    .video {
        padding: 60px 0;
    }
}

@media #{$desktop-widths} {
    .video {
        padding: 70px 0;
    }
}