.video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
    text-align: center;
    @include capslock();
    padding-top: 35px;
    padding-bottom: 5px;
    margin: 0 20px;
}

.video__text {
    display: block;
    margin: 29px 20px;
    line-height: 24px;
}


.video__title {
    font-family: $font-main;
    color: $title-font-color;
    @include bold18px();
    @media #{$tablet-widths} {
        @include bold30px();
    }
}

@media #{$tablet-widths}{

    .video {
        margin: 0 155px;
        padding-top: 61px;
        padding-bottom: 47px;
    }
    .video__text {
        padding: 27px 18px;
        margin: 0;
    }
    
}

@media #{$desktop-widths} {
    .video {
        margin: 68px 382px 40px 382px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .video__text {
        padding: 29px 0;
        margin: 0;
    }

}
